p {
    text-align: center;
}

.OneTitle {
    margin-top: 20px;
    font-size: 30px;
    height: 100px;
    padding: 20px;
    color: black;
    font-family: 'Lekton', sans-serif;
    font-size: 60px;
}

.OneAuthor {
    margin-top: 10px;
    font-family: Georgia;
    font-size: 30px;
    color: black;
}

.Oneisbn {
    margin-top: 10px;
    font-family: Georgia;
    font-size: 20px;
}

.editButton {
    background-color: blue;
    min-height: 40px;
    min-width: 140px;
    border-radius: 10%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
}

.deleteButton {
    background-color: rgb(206, 60, 60);
    min-height: 40px;
    min-width: 140px;
    border-radius: 10%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.modalButtons {
    margin: auto;
    text-align: center;
}

.bookShelfImg {
    margin-top: 40px;
}

.input {
    margin: 100px;
    text-align: center;
}